/* 
* Header
*/
.site-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    overflow: hidden;
    z-index: 99;
    position: relative;
    padding: 0 30px;
    margin-bottom: 60px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.3), 0 4px 8px rgba(0,0,0,.3);
}
.site-header h1 {
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    display: inline-block;
    line-height: 75px;
    margin: 0;
}
.site-header h1 small {
    opacity: .45;
    font-size: 12px;
}
.site-header .header-button {
    float: right;
    border: 0;
    outline: 0;
    margin-top: 21px;
    background-color: transparent;
}
.site-header .header-button img {
    width: 30px;
    height: 30px;
}
.site-header .header-button span {
    top: 3px;
    left: 9px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background-color: lightpink;
}